//- article/footer.scss

@import "styles/config";
@import "styles/button";

article > footer {

    position :relative;
    color: $black;
    padding: .5*$baseline $padding;
    display: flex;
    flex-direction: row-reverse;

    &:before {
      position: absolute;
      top: 0;
      content :'';
      display: block;
      height: 1px;
      width: 50%;
      left: 25%;
      background: $black;
    }

    & > * + * {
      margin-right: 1rem;
    }

    & > .poop-holder {
      display: flex;
      flex-direction: row-reverse;

      & > .poop-feedback {
        line-height: $baseline;
        color: $gray;
        opacity: 0;
        margin-top: -1rem;

        margin-right: 1rem;
        font-family: 'Questa Sans';
        font-size : .75*$font-size;
        transition: all ease-out 150ms;
      }
      & > .poop-feedback.fade {
        opacity: 1;
        margin-top: 0rem;
        transition: all ease-out 130ms;
      }
    }
  }
